<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Hello Orders!</title>
    <!--<script src="./js/react/react.js"></script>-->
    <!--<script src="./js/react/JSXTransformer.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>-->
</head>
<body>
<div id="content">
    <table>
        <thead>
            first name
        </thead>
        <thead>
        last name
        </thead>
        <thead>
        email
        </thead>
        <tr th:each="order :${subscriptions}">
            <td th:text="${order.user.firstName}"></td>
            <td th:text="${order.user.lastName}"></td>
            <td th:text="${order.user.email}"></td>
        </tr>
    </table>


</div>
<!--<script type="text/jsx" src="./js/home.app.direct.view.components/subscriptionBox.js"></script>-->
</body>
</html>